/////////////////////////////////////////
//PRIMARY COLORS

$color-primary-pink: hsl(322, 100%, 66%);
$color-primary-light-pink: hsl(321, 100%, 78%);
$color-primary-light-red: hsl(0, 100%, 63%);
$color-primary-strong-cyan: hsl(171, 66%, 44%);
$color-primary-medium-dark-green-cyan: hsl(170, 62%, 38%);
$color-primary-blue: hsl(232, 65%, 58%);
$color-primary-medium-light-blue: hsl(233, 100%, 69%);
$color-primary-medium-light-blue: hsla(233, 100%, 69%, 0.3);
$color-primary-light-grayish-blue: hsl(255, 100%, 98%);

/////////////////////////////////////////
//BACKGROUND/BORDER BOTTOM COLORS FOR iOS HOVER
$color-primary-medium-light-green-cyan:hsl(164, 64%, 61%);
$color-primary-green-cyan:hsl(170, 39%, 52%);

/////////////////////////////////////////
//BACKGROUND/BORDER BOTTOM COLORS FOR MAC HOVER
$color-bg-primary-light-blue: hsl(233, 100%, 76%,);
$color-primary-medium-light-blue: hsl(235, 63%, 68%);


/////////////////////////////////////////
//NEUTRAL COLORS
$color-neutral-dark-Grayish-blue: hsl(210, 10%, 33%);
$color-neutral-grayish-blue: hsl(201, 11%, 66%);
$color-neutral-very-pale-blue: hsl(207, 100%, 98%);
$color-neutral-white: hsl(0, 0%, 100%);

/////////////////////////////////////////
//FONT SIZE VARIABLES
$fs-small: 1.6rem;
$fs-medium: 1.7rem;
$fs-xmedium: 1.8rem;
$fs-xxmedium: 2rem;
$fs-large: 2.5rem;
$fs-xlarge: 3rem;
$fs-xxlarge: 4rem;
$fs-xxxlarge: 5rem;

// /////////////////////////////////////////
//RESPONSIVE BREAKPOINTS

$bp-larger: 1200px;
$bp-large: 1000px;
$bp-medium: 950px;
$bp-small: 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
  align-items: center;
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  font-size: $fs-xmedium;
}
