/////////////////////////////////////////
//PRIMARY COLORS
$color-primary-pink: hsl(322, 100%, 66%);
$color-primary-light-pink: hsl(321, 100%, 78%);
$color-primary-light-red: hsl(0, 100%, 63%);
$color-primary-strong-cyan: hsl(171, 66%, 44%);
$color-primary-light-cyan: hsl(171, 64%, 42%);
$color-primary-light-blue: hsl(233, 100%, 69%);
$color-primary-lighter-blue: hsl(233, 39%, 36%);
$color-primary-grayish-blue: hsl(201, 11%, 66%);
$color-primary-light-grayish-blue: hsl(255, 100%, 98%);
$color-primary-light-cyan: hsl(171, 26%, 41%);

/////////////////////////////////////////
//BORDER BOTTOM COLORS FOR iOS
$color-strong-cyan-hue: 171;
$color-strong-cyan-sat: 66%;
$color-strong-cyan-light: 44%;

/////////////////////////////////////////
//BORDER BOTTOM COLORS FOR iOS HOVER
$color-light-cyan-hue: 171;
$color-light-cyan-sat: 47%;
$color-light-cyan-light: 60%;

/////////////////////////////////////////
//BORDER BOTTOM COLORS FOR Mac
$color-light-blue-hue: 233;
$color-light-blue-sat: 100%;
$color-light-blue-light: 69%;

/////////////////////////////////////////
//BORDER BOTTOM COLORS FOR Mac HOVER
$color-light-blue-hue: 233;
$color-light-blue-sat: 39%;
$color-light-blue-light: 36%;

/////////////////////////////////////////
//NEUTRAL COLORS
$color-neutral-very-dark-cyan: hsl(192, 100%, 9%);
$color-neutral-very-pale-blue: hsl(207, 100%, 98%);
$color-neutral-white: hsl(0, 0%, 100%);

/////////////////////////////////////////
//FONT SIZE VARIABLES
$fs-small: 1.6rem;
$fs-medium: 1.7rem;
$fs-xmedium: 1.8rem;
$fs-xxmedium: 2rem;
$fs-large: 2.5rem;
$fs-xlarge: 3rem;
$fs-xxlarge: 4rem;
$fs-xxxlarge: 5rem;

// /////////////////////////////////////////
// //RESPONSIVE BREAKPOINTS
// $bp-larger: 1200px;
// $bp-large: 1000px;
// $bp-medium: 950px;
// $bp-small: 600px;

// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
//   border: 0;
//   align-items: center;
//   max-width: 100%;
// }

// html {
//   box-sizing: border-box;
//   font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
// }

// body {
//   font-family: 'Bai Jamjuree', sans-serif;
//   font-weight: 400;
// }
