/////////////////////////////////////////
//CALL TO ACTION
.cta {
  display: flex;
  justify-content: center;
  font-size: $fs-large;
  margin-top: 5rem;

  &__ios {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 2rem 5rem;
    border-radius: 10rem;
    color: $color-neutral-white;
    background: $color-primary-strong-cyan;
    border-bottom: 3.5px solid $color-primary-medium-dark-green-cyan;
    box-shadow: 0 1rem 2rem rgba($color-primary-strong-cyan, 0.3);
    transition: all 0.2s;

    &:hover {
      background: $color-primary-medium-light-green-cyan;
      color: $color-neutral-white;
      border-bottom: 3.5px solid $color-primary-green-cyan;
      box-shadow: 0 1rem 2rem rgba($color-primary-strong-cyan, 0.3);
    }
  }

  &__mac {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 2rem 5rem;
    border-radius: 10rem;
    color: $color-neutral-white;
    background: $color-primary-medium-light-blue;
    border-bottom: 3.5px solid $color-primary-blue;
    box-shadow: 0 1rem 2rem rgba($color-primary-medium-light-blue, 0.3);
    transition: all 0.2s;

    &:hover {
      background: $color-bg-primary-light-blue;
      color: $color-neutral-white;
      border-bottom: 3.5px solid $color-primary-medium-light-blue;
      box-shadow: 0 1rem 2rem rgba($color-primary-medium-light-blue, 0.3);
    }
  }
}

 /////////////////////////////////////////////////
//MEDIA QUERIES

@media screen and (max-width: $bp-small) {
  .cta {
      flex-direction: column;

    &__mac {
      margin-top: 2rem;
      margin-left: -2rem;
    }

    &__ios,
    &__mac {
      padding: 1.5rem 8rem;
    }
  }
}
