.footer {
  background: $color-primary-light-grayish-blue;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  margin-top: 5rem;

  &__logo {
    margin-top: 3rem;
    margin-right: 10rem;
    width: 6rem;
    height: 6rem;
  }

  &__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item{
    list-style: none;
  }
}