.container {
  margin: 0 auto;
  max-width: 144rem;

  /////////////////////////////////////////////////
  //LOGO
  .logo {
    margin-top: 12rem;
  }

  /////////////////////////////////////////////////
  //HEADER
  .header {
    background: url('/images/bg-header-desktop.png') no-repeat top / contain;
    

&__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      margin-top: 5rem;
      font-size: $fs-xxxlarge;
      text-align: center;
      font-weight: 600;
      color: $color-neutral-dark-Grayish-blue;
    }

    &__text {
      margin-top: 2rem;
      font-size: $fs-xmedium;
      line-height: 1.6;
      max-width: 48%;
      text-align: center;
      color: $color-neutral-grayish-blue;
    }
  }
}


/////////////////////////////////////////////////
//MEDIA QUERIES

@media screen and (max-width: $bp-small) {
.container .header {
  background: url('/images/bg-header-mobile.png') no-repeat top / contain;
}
}
  .container .header {
  &__title {
    @media screen and (max-width: $bp-medium) {
      font-size: $fs-xlarge;
      max-width: 80%;
    }
  }
  &__text {
    @media screen and (max-width: $bp-medium) {
      max-width: 93%;
      margin: 1.5rem;
    }
  }
}
