.container {
  margin: 0 auto;
  max-width: 140rem;

  /////////////////////////////////////////////////
  //LOGO
  .logo {
    margin-top: 15rem;
  }

  /////////////////////////////////////////////////
  //HEADER
  .header {
    background-image: url('/images/bg-header-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

&__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__title {
      margin-top: 5rem;
      font-size: $fs-xxxlarge;
      text-align: center;
      font-weight: 600;
      color: $color-neutral-very-dark-cyan;
    }

    &__text {
      margin-top: 2rem;
      font-size: $fs-xmedium;
      line-height: 1.6;
      max-width: 48%;
      text-align: center;
      color: $color-primary-grayish-blue;
    }
  }
}


/////////////////////////////////////////////////
//MEDIA QUERIES

.container .header {
  &__title {
    @media screen and (max-width: $bp-medium) {
      font-size: $fs-xlarge;
      max-width: 80%;
    }
  }
  &__text {
    @media screen and (max-width: $bp-medium) {
      max-width: 90%;
      margin: 1.5rem;
    }
  }
}
